@import "~bootstrap/scss/bootstrap";

.form-login {
  max-width: 20em;
  margin: 3em auto;
}

h1 {
  margin: 0;
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5, h6 {
  font-size: 1em;
}

label.required:after {
  content: ' *';
  color: red;
}

#page-admin-user-index,
#page-admin-user-show {

  .badge_role_admin {
    color: #fff;
    background-color: #dc3545;
  }

  .badge_role_client {
    color: #fff;
    background-color: #17a2b8;
  }

}

#page-stat-time-data {

  tr[data-total="1"]:hover > td {
    background-color: aliceblue;
    cursor: pointer;
  }

}
