@import "~bootstrap/scss/bootstrap";

.form-login {
  max-width: 20em;
  margin: 3em auto;
}

h1 {
  margin: 0;
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5, h6 {
  font-size: 1em;
}

label.required:after {
  content: ' *';
  color: red;
}

#page-stat-time-data {

  tr[data-total="1"]:hover > td {
    background-color: aliceblue;
    cursor: pointer;
  }

}

#invoice_details_table {

  [id$="_designation"] {
    width: 300px;
  }

  [id$="_amountUnit"],
  [id$="_quantity"],
  [id$="_taxRate"] {
    max-width: 100px;
    text-align: right;
  }

  [id$="_amountExcludingTax"],
  [id$="_amountIncludingTax"],
  [id$="_taxAmount"] {
    max-width: 150px;
    text-align: right;
  }

}

@media screen and (max-width: 800px) {

  #invoice_details {

    tr {

      > td {
        padding-bottom: 0.3em;
        padding-top: 0;
        border: 0;
      }

      &:nth-of-type(n+2) > td:first-child {
        margin-top: 1em;
      }

    }

  }

}
