@import "~bootstrap/scss/bootstrap";

.form-login {
  max-width: 20em;
  margin: 3em auto;
}

h1 {
  margin: 0;
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4, h5, h6 {
  font-size: 1em;
}

label.required:after {
  content: ' *';
  color: red;
}

legend {
  font-size: 1.2em;
}

table.table-hover tr[data-url] {
  cursor: pointer;
}

#page-admin-user-index,
#page-admin-user-show {

  .badge_role_admin {
    color: #fff;
    background-color: #dc3545;
  }

  .badge_role_client {
    color: #fff;
    background-color: #17a2b8;
  }

}

#page-invoice-edit {

  #invoice_details_container {

    .actions {
      width: 1px;
    }

    .amount_unit,
    .amount_total {
      width: 200px;
    }

    .input-group {
      flex-wrap: nowrap;
    }

    .quantity {
      width: 100px;
    }

  }

}

#page-payment-add,
#page-payment-edit {

  #payment_paymentInvoices {

    select[id$="_invoice"] {
      min-width: 110px;
    }

  }

}

#page-stat-time-data {

  tr[data-total="1"]:hover > td {
    background-color: aliceblue;
    cursor: pointer;
  }

}
